<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>推荐</string>
	<string>户外</string>
	<string>情话</string>
	<string>星秀</string>
	<string>一起看</string>
	<string>美女</string>
	<string>帅哥</string>
	<string>美声</string>
</array>
</plist>
