<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>firework_2</string>
		<key>bloomImage</key>
		<string>firework_effect_2</string>
		<key>upView</key>
		<string>firework_effect_7_4_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_3</string>
		<key>bloomImage</key>
		<string>firework_effect_3</string>
		<key>upView</key>
		<string>firework_effect_7_1_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_4</string>
		<key>bloomImage</key>
		<string>firework_effect_5_1</string>
		<key>upView</key>
		<string>firework_effect_7_1_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_5</string>
		<key>bloomImage</key>
		<string>firework_effect_7_4</string>
		<key>upView</key>
		<string>firework_effect_7_4_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_6</string>
		<key>bloomImage</key>
		<string>firework_effect_7_3</string>
		<key>upView</key>
		<string>firework_effect_7_2_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_6</string>
		<key>bloomImage</key>
		<string>firework_effect_7_1</string>
		<key>upView</key>
		<string>firework_effect_7_2_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_8</string>
		<key>bloomImage</key>
		<string>firework_effect_6_1</string>
		<key>upView</key>
		<string>firework_effect_7_4_line</string>
	</dict>
	<dict>
		<key>image</key>
		<string>firework_9</string>
		<key>bloomImage</key>
		<string>firework_effect_7_1</string>
		<key>upView</key>
		<string>firework_effect_7_1_line</string>
	</dict>
</array>
</plist>
