<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1-S</string>
	<string>1964-S</string>
	<string>4-S</string>
	<string>6-S</string>
	<string>2-S</string>
	<string>7-S</string>
	<string>393-S</string>
	<string>2135-S</string>
	<string>2336-S</string>
</array>
</plist>
