<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>推荐</string>
	<string>英雄联盟</string>
	<string>暗黑破坏神</string>
	<string>地下城与勇士</string>
	<string>穿越火线</string>
	<string>魔兽世界</string>
	<string>DOTA2</string>
	<string>逆战</string>
</array>
</plist>
